// Video component

.c-video {
  position: relative;
  width: 100%;
  border-radius: @radius-md;
  overflow: hidden;
  background: #000;
}

.c-video-iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.c-video-player {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
